body {
    max-width: 35%;
    align-self: center;
    margin: 0 auto;

    /* BACKGROUND */
    background: #77A1D3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E684AE, #79CBCA, #77A1D3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E684AE, #79CBCA, #77A1D3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
     
}

.principal-container {
    margin-top: 10rem;
    background: #fff;
    padding: 2rem;
    border-radius: 2rem;
    box-shadow: 0 0 1.5rem 0 rgba(0, 0, 0, 0.8);
    
}
.taskLABEL {
    display: flex;
    align-items: center;
}

.taskMARGIN {
    margin: auto;
    margin: 0 10px;
}

.taskP {
    width: 100%;
}

.checkedTask {
    text-decoration: line-through;
}