body {    
    align-self: center;
    margin: 0 auto;

    /* BACKGROUND */
    background: #00F260;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #0575E6, #00F260);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #0575E6, #00F260); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
     
}

.principal-container {
    max-width: 25%;
    margin-top: 10rem;
    background: #fff;
    padding: 1.5rem 0.5rem;
    border-radius: 1rem;
    box-shadow: 0 0 1.5rem 0 rgba(0, 0, 0, 0.8);    
}

span {
    background-color: #636a70;
    height: 25px;
    padding-left: 5px;            
    padding-right: 5px;
}